# Request review by OpenRTX Expedition Force for all pull requests
# * means if any file is changed, but different files/extensions can also be assigned to individuals/teams
* @k5utd/radio-system-developers
